{% extends "Root_html.html" %}
{% block title %}Home{% endblock %}

{% block content %}
{% include "utils/header.html" %}

<div class="container" >
{% include 'Home/AddData.html' %}
 <div class="table-responsive-sm">
  <table class="table table-bordered border-primary">
    {% include 'utils/table_coloum.html' %}
  <tbody>
   {% for data in datas %}
     {% include 'utils/table_row.html' %}
    {% endfor %}
  </tbody>

  </table>

  </div>
{% include "utils/pagenation.html" %}
</div>
<footer>
@SBM DEVELOPERS
</footer>
{% endblock %}